[MASTER]
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    line-too-long
    bare-except
    wrong-import-order
    invalid-name
    C0103
init-hook='import sys; sys.path.append("apps")'
good-names=i,j,df,t,q,pk,pks