#heroku
django-heroku
gunicorn

Django==3.0.5
python-dotenv
djangorestframework==3.11.0
djangorestframework-simplejwt==4.4.0
#swarm
drf-yasg==1.17.1
#beautify html
bs4

scrapy==2.2.0
scrapy-splash==0.7.2
subprocess
django-filter